/*-----------------------
░█████╗░███╗░░██╗██╗███╗░░░███╗███████╗  ██╗░░░░░██╗░██████╗████████╗
██╔══██╗████╗░██║██║████╗░████║██╔════╝  ██║░░░░░██║██╔════╝╚══██╔══╝
███████║██╔██╗██║██║██╔████╔██║█████╗░░  ██║░░░░░██║╚█████╗░░░░██║░░░
██╔══██║██║╚████║██║██║╚██╔╝██║██╔══╝░░  ██║░░░░░██║░╚═══██╗░░░██║░░░
██║░░██║██║░╚███║██║██║░╚═╝░██║███████╗  ███████╗██║██████╔╝░░░██║░░░
╚═╝░░╚═╝╚═╝░░╚══╝╚═╝╚═╝░░░░░╚═╝╚══════╝  ╚══════╝╚═╝╚═════╝░░░░╚═╝░░░ 
-----------------------*/

@\import "https://nadim147c.github.io/Mal-List-Design/VL's_design.css";
@\import "https://malscraper.azurewebsites.net/covers/anime/Nadim147c/presets/dataimagelinkbefore";



/*--------------------*/
/*     Chat-bubble    */
/*--------------------*/
/* All Anime */
[data-query*='status":7'] {
	--speach: "Welcome\a to my\a Animelist!!";
}

/* Watching/Reading */
[data-query*='status":1'] {
	--speach: "You wanna\a  know, what am\a i watching?";
}

/* Completed */
[data-query*='status":2'] {
	--speach: "Yeah, I\a completed\a all of them.";
}

/* Onhold */
[data-query*='status":3'] {
	--speach: "Too busy\a to complete\a them!";
}

/* Dropped */
[data-query*='status":4'] {
	--speach: "Not worth\a my time.\a :|";
}

/* Planned */
[data-query*='status":6'] {
	--speach: "I'm planning \a to watch \athem all...";
}

/*The End*/


/*-S-T-A-R-T--------------------*\
| Per-Category Banner Image      |
\*------------------------------*/
/* All Anime */
[data-query*='status":7'] {
	--banner: url(https://imgur.com/B8pGm8Y.jpg);
}

/* Watching/Reading */
[data-query*='status":1'] {
	--banner: url(https://imgur.com/bRBBlzD.jpg);
}

/* Completed */
[data-query*='status":2'] {
	--banner: url(https://imgur.com/OgIWa7u.jpg);
}

/* Onhold */
[data-query*='status":3'] {
	--banner: url(https://imgur.com/k7Jutq8.jpg);
}

/* Dropped */
[data-query*='status":4'] {
	--banner: url(https://imgur.com/Y8K7WJg.jpg);
}

/* Planned */
[data-query*='status":6'] {
	--banner: url(https://imgur.com/sT5Bygg.jpg);
}

/*------------------------E-N-D-*/

