/*-----------------------

███╗░░░███╗░█████╗░███╗░░██╗░██████╗░░█████╗░  ██╗░░░░░██╗░██████╗████████╗
████╗░████║██╔══██╗████╗░██║██╔════╝░██╔══██╗  ██║░░░░░██║██╔════╝╚══██╔══╝
██╔████╔██║███████║██╔██╗██║██║░░██╗░███████║  ██║░░░░░██║╚█████╗░░░░██║░░░
██║╚██╔╝██║██╔══██║██║╚████║██║░░╚██╗██╔══██║  ██║░░░░░██║░╚═══██╗░░░██║░░░
██║░╚═╝░██║██║░░██║██║░╚███║╚██████╔╝██║░░██║  ███████╗██║██████╔╝░░░██║░░░
╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝░╚═════╝░╚═╝░░╚═╝  ╚══════╝╚═╝╚═════╝░░░░╚═╝░░░
-----------------------*/

@\import "https://nadim147c.github.io/Mal-List-Design/VL's_design.css";

@\import "https://malscraper.azurewebsites.net/covers/manga/Nadim147c/presets/dataimagelinkbefore";

/*--------------------*/
/*     Chat-bubble    */
/*--------------------*/
/* All Anime */
[data-query*='status":7'] {
	--speach: "Welcome\a to my\a Mangalist!!";
}

/* Watching/Reading */
[data-query*='status":1'] {
	--speach: "You wanna\a  know, what am\a i reading?";
}

/* Completed */
[data-query*='status":2'] {
	--speach: "Yeah, I\a completed\a all of them.";
}

/* Onhold */
[data-query*='status":3'] {
	--speach: "Too busy\a to complete\a them!";
}

/* Dropped */
[data-query*='status":4'] {
	--speach: "Not worth\a my time.\a :|";
}

/* Planned */
[data-query*='status":6'] {
	--speach: "I'm planning \a to read \athem all...";
}

/*--The end--*/


/*-S-T-A-R-T--------------------*\
| Per-Category Banner Image      |
\*------------------------------*/
/* Post : https://imgur.com/a/aHJ0fxt */
/* All Anime */
[data-query*='status":7'] {
	--banner: url(https://imgur.com/XjEUVRq.jpg);
}

/* Watching/Reading */
[data-query*='status":1'] {
	--banner: url(https://imgur.com/XSqVKYd.jpg);
}

/* Completed */
[data-query*='status":2'] {
	--banner: url(https://imgur.com/OgIWa7u.jpg);
}

/* Onhold */
[data-query*='status":3'] {
	--banner: url(https://imgur.com/k7Jutq8.jpg);
}

/* Dropped */
[data-query*='status":4'] {
	--banner: url(https://imgur.com/Y8K7WJg.jpg);
}

/* Planned */
[data-query*='status":6'] {
	--banner: url(https://imgur.com/5CXrNHt.jpg);
}

/*------------------------E-N-D-*/

